@import 'react-datepicker/dist/react-datepicker.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Figtree,sans-serif;
  /* background-color: #f1f4f9; */
  
}
body{
  /* overflow: hidden; */
}
.Toastify__toast-container {
  top: 1rem !important;
  right: 1rem !important;
  left: auto !important;
  transform: none !important;
  z-index: 9999 !important;
  background-color: white;
}

.Toastify__toast {
  text-align: left !important;
  background-color: white;
}
